<h1>Teacher Calendar</h1>
<p>Create public events for all to attend</p>

<%= form_for @event do |t| %>
  <div>
    <%= t.label :starts_at, "Start date/time" %>
    <%= t.text_field :starts_at %>
  </div>
  <div>
    <%= t.label :ends_at, "End date/time" %>
    <%= t.text_field :ends_at %>
  </div>
  <div>
    <%= t.label :title, "Event title" %>
    <%= t.text_field :title %>
  </div>
  <div>
    <%= t.label :description, "Event discription" %>
    <%= t.text_field :description %>
  </div>
  <div>
    <%= t.submit %>
  </div>
<% end %>